

body {
	
	background-image: url("../images/goldenWP.jpg");
}
#Crystal-Collector{
	width: 450px;
  text-align: center;
	margin-top: 30px;
	margin-left: 25%;
	background-color: #ecbf95cc;
	border:solid 3px #73ddd4cc;
}
h1{
	text-align: center;
	font-size: 50px;
	margin-right: 20px;
}
.rule-center{
	width: 650px;
	margin-left: 20%;
	background-color: #ecbf95cc;
	border:solid 3px #73ddd4cc;
}
h2{
	text-align: center;
	font-size: 25px;
}
.text{
	width:900px;
	margin-top: 10px;
	font-size: 20px;
	text-align:center;
	padding-left: 10px;
	margin-left: 5%;
	background-color: #ecbf95cc;
	border:solid 3px #73ddd4cc;
}
.container-score{
	margin:0 auto;
	text-align: center;
}
.card-header{
	background-color: #ecbf95cc;
	border:solid 3px #73ddd4cc;
	font: bold ;
	padding: 10px;

}
.card-img-top{
	background-color: #ecbf95cc;
	border:solid 3px #73ddd4cc;
	padding: 10px;
	
}
.value-body{
	border:solid 3px #73ddd4cc;
}
	
